
*{
    box-sizing: border-box;
}
body{

    background-color: rgb(255, 255, 255);
}

.title.is-2{
    color: black;
    font-size: 2.5vw;
    background-color: white;
}
.navegacion{
    color: black    ;
}
.navbar {
background-color: #282248 !important;
height: 4vw !important;
color: white !important;
}

a.navbar-item:hover{
    background-color: #7769c9 !important;
}

.navbar-item {
    color: hsl(0deg 0% 100%) !important;
}


@media screen and (max-width: 1023px) {
    .navbar-menu {
        background-color: hsl(249.47deg 35.85% 20.78%) !important;
        box-shadow: 0 .5em 1em hsla(var(--bulma-scheme-h), var(--bulma-scheme-s), var(--bulma-scheme-invert-l), .1);
        padding: .5rem 0;
    }
}
/* empieza lo de reseña  */
.anime{
    color: rgb(0, 0, 0);
}
.card{
    border: 1px solid black;
}
.content{
    background-color: white;
}
.box{
    width: 25%;
    position: relative;
    left: 72%;
}
.footer{
    background-color: rgb(255, 255, 255);
    color: black;
}
.title.is-1 {
    font-size: 2em;
    color: white;
    z-index: 1;
    position: relative;
    left: 0px;
}
.title.is-5 {
    font-size: 2em;
    color: white;
    z-index: 1;
    position: relative;
    left: 0px;
    
}
/* termina parte reseña  */
*{
    box-sizing: border-box;
}
.inicio{
    background-color: #282248;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-inicio{
    display: flex;
    gap:  50px;
}
.banner{
    animation: slide 15s infinite alternate ease-in-out;
    position: relative;
    max-width: 1980px;
    max-height: 1980px;
    margin: 0 auto;
    overflow: hidden;
}
.slide{
    width: 500%;
    height: 500px;
    display: flex;
}
.slide input{
    display: none;
}
.img{
    width: 20%;
    transition: 2s;
}
.img img{
    width: 1980px;
    height: 500px;
}
.nav-m{
    position: absolute;
    width: 800px;
    margin-top: -40PX;
    justify-content: center;
    display: flex;
}
.m-btn{
    border: 2px solid #23e3c2;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.m-btn:not(:last-child){
    margin-right: 30px;   
}
.m-btn:hover{
    background-color: #23e3c2;
}
#radio-1:checked ~.first{
    margin-left: 0;
}
#radio-2:checked ~.first{
    margin-left: -20%;
}
#radio-3:checked ~.first{
    margin-left: -40%;
}
.slide-nav-auto{
    position: absolute;
    width: 90%;
    margin-top: 460px;
    display: flex;
    justify-content: center;
    gap: 15px;
}
.slide-nav-auto div{
    border: 2px solid #23e3c2;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}
.slide-nav-auto div:not(:last-child){
    margin-right: 30px;
    justify-content: center;
}
#radio-1:checked ~.slide-nav-auto .a-b1{ 
    background-color: #23e3c2;
}
#radio-2:checked ~.slide-nav-auto .a-b2{
    background-color: #23e3c2;
}
#radio-3:checked ~.slide-nav-auto .a-b3{
    background-color: #23e3c2;
}


<<<<<<< HEAD
=======


.banner-catalogo {
    position: relative;
}

.informacion-catalogo{
    position: absolute;
    top: 36%;
    left: 31%;
    font-size: 3vw;
    font-weight: 300;
    background-color: #0000008c;
    width: 40%;
    height: 58%;
    border-radius: 13px;
}
.banner-catalogo h1{
    color: white;
    position: absolute;
    top: 28%;
    left: 41%;
    font-size: 5vw;
    font-weight: 500;
}
.banner-catalogo p{
    color: white;
    position: absolute;
    top: 67%;
    left: 39%;
    font-size: 2.1vw;
    font-weight: 300;
}

.galeria-catalogo{
    width: 80%;
    margin: 0 auto;
    margin-top: 3vw;

}
>>>>>>> eb69b2ec4ddde30df116830f738a8cab375244c5
