* {
    box-sizing: border-box;
}

body {

    background-color: rgb(255, 255, 255);
}

.title.is-2 {
    color: black;
    font-size: 2.5vw;
    background-color: white;
}

.navegacion {
    color: black;
}

.navbar {
    background-color: #282248 !important;
    height: 4vw !important;
    color: white !important;
}

a.navbar-item:hover {
    background-color: #7769c9 !important;
}

.navbar-item {
    color: hsl(0deg 0% 100%) !important;
}




.box {
    grid-column: 1;
    grid-row: 1 / span 2;
    position: relative;
    left: 2vw;
    top: 6vw;
}



@media screen and (max-width: 1023px) {
    .navbar-menu {
        background-color: hsl(249.47deg 35.85% 20.78%) !important;
        box-shadow: 0 .5em 1em hsla(var(--bulma-scheme-h), var(--bulma-scheme-s), var(--bulma-scheme-invert-l), .1);
        padding: .5rem 0;
    }
}

/* empieza lo de reseña  */
.anime {
    color: rgb(0, 0, 0);
}

.card {
    border: 1px solid black;
}

.content {
    background-color: white;
}

.box {
    width: 25%;
    position: relative;
    left: 72%;
}

.footer {
    background-color: rgb(255, 255, 255);
    color: black;
}

.title.is-1 {
    font-size: 2em;
    color: white;
    z-index: 1;
    position: relative;
    left: 0px;
}

.title.is-2 {
    color: #000000;
    font-size: 2.5vw;
    background-color: #ffffff;
    position: relative;
    left: 40vw;
    top: 2vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.title.is-5 {
    font-size: 2em;
    color: white;
    z-index: 1;
    position: relative;
    left: 0px;

}

.textarea.is-info {
    width: 80vw;
}

/* termina parte reseña  */
* {
    box-sizing: border-box;
}

.carousel{
    overflow: hidden;
}

@media(min-width:1492px) {
    .item {
        height: 100vh;
    }

    .item img {
        object-fit: cover;
    }
}

.banner-catalogo {
    position: relative;
}

.title {
    position: relative;
    top: 2vw;
    left: 40vw;
}

.columns {
    padding: 10px;
}

.box {
    width: 25%;
    position: relative;
    left: 72%;
}

.footer {
    background-color: rgb(255, 255, 255);
    color: black;
}

.carousel {
    overflow: hidden;
}

@media(min-width:1492px) {
    .item {
        height: 100vh;
    }

    .item img {
        object-fit: cover;
    }
}

.banner-catalogo {
    position: relative;
}

.informacion-catalogo {
    position: absolute;
    top: 36%;
    left: 31%;
    font-size: 3vw;
    font-weight: 300;
    background-color: #0000008c;
    width: 40%;
    height: 58%;
    border-radius: 13px;
}

.banner-catalogo h1 {
    color: white;
    position: absolute;
    top: 28%;
    left: 41%;
    font-size: 5vw;
    font-weight: 500;
}

.banner-catalogo p {
    color: white;
    position: absolute;
    top: 67%;
    left: 39%;
    font-size: 2.1vw;
    font-weight: 300;
}
.galeria-catalogo {
    width: 80%;
    margin: 0 auto;
    margin-top: 3vw;
}